h1 {
  background: #ebebeb;
  color: #777;
  width: 990px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 40px;
  padding: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  background: #ebebeb;
  color: #777;
  width: 960px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  text-align: center;
  padding: 40px;
  border: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}

html {
  background: darkslategray;
}

div {
  float: inline-start;
  position: relative;
  background: #ebebeb;
  left: 41px;
  width: 600px;
  text-align: center;
  font-size: 18px;
  height: 250px;
}

article {
  font-size: 18px;
  text-align: center;
  width: 50%;
  height: 150px;
  top: 60px;
  background: darkslategray;
  right: 50px;
  color: whitesmoke;
  margin: auto;
}

h3 {
  margin: 20px;
  width: 350px;
  height: 15px;
  background-color: #777;
  padding: 10px;
  text-align: center;
  width: 90%;
  right: 20px;
}

aside {
  background: #ebebeb;
  color: #777;
  width: 38.5%;
  height: 250px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  float: right;
}

footer {
  background: #ebebeb;
  color: #777;
  width: 960px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 40px;
  padding: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  padding: 10px;
}
